{% extends 'base.html' %}

{% block content %}
<a href="{% url 'administratives:administratives_add' %} " class="btn btn-primary" role="button">Add an Administrative</a>
<br>
<a href ="{% url 'professors:professors_add' %} " class = "btn btn-primary" role="button">Add a Professor</a>
<br>
<a href ="{% url 'rooms:room_create' %} " class = "btn btn-primary" role="button">Add a Room</a>
<br>
<a href ="{% url 'rooms:rooms_list' %} " class = "btn btn-primary" role="button">Department Rooms</a>
<br>
<a href ="{% url 'reservation:reservation_create' %} " class = "btn btn-primary" role="button">Reserve</a>
<br>
<a href ="{% url 'reservation:reservation_list' %} " class = "btn btn-primary" role="button">Requests</a>

{% endblock %}